body {
    background-color: #1d0d50;
}

main {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    font-size: 45px;
    font-family: arial;
}

a {
    display: block;
    width: 20vw;
    text-align: center;
    padding: 20px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: arial;

}

input {
    background-color: white;
    padding: 20px;
}

#console {
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
    height: 300px;
    color: white;

}

#fi-res,
#sc-res {
    color: white;
}